body {
  font-family: verdana;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  padding: 0.5rem;
}
nav a.selected {
  border: solid 1px dodgerBlue;
}

form {
  display:flex;
  flex-direction:column;
  margin: 1rem;
  border: solid 1px dodgerBlue;
  padding: 1rem;
}

form > * {
  margin: 0.5rem;
}